/// Colors

/// White
/// @type Color
$white: #fff;

/// Concrete
/// @type Color
$concrete: #f2f2f2;

/// Iron
/// @type Color
$iron: #d7d7d8;

/// Alto
/// @type Color
$alto: #dcdcdc;

/// Mineshaft
/// @type Color
$mineshaft: #262626;

/// Bombay
/// @type Color
$bombay: #adafb2;

/// Nevada
/// @type Color
$nevada: #6d6f71;

/// Abbey
/// @type Color
$abbey: #525457;

/// Shark
/// @type Color
$shark: #323438;

/// Woodsmoke
/// @type Color
$woodsmoke: #121314;

/// Black
/// @type Color
$black: #000;

/// Mona Lisa
/// @type Color
$monalisa: #ff9999;

/// Cinnabar
/// @type color
$cinnabar: #e74c3c;

/// Pomegranate
/// @type Color
$pomegranate: #f42837;

/// Grenadier
/// @type color
$grenadier: #cc3300;

/// Dusty Gray
/// @type color
$dusty-gray: #999999;

/// Wild sand
/// @type Color
$wild-sand: #f3f3f3;

/// Silver
/// @type color
$silver: #cccccc;

/// Silver chalice
/// @type color
$silverchalice: #aaaaaa;

/// Gallery
/// @type color
$gallery: #eeeeee;

/// Scooter
/// @type color
$scooter: #2AC7E1;
