/// Font sizes

/// XXXXS
/// @type Size
$size-xxxxs: 8px;

/// XXXS
/// @type Size
$size-xxxs: 9px;

/// XXS
/// @type Size
$size-xxs: 10px;

/// XS
/// @type Size
$size-xs: 11px;

/// S
/// @type Size
$size-s: 12px;

/// SM
/// @type Size
$size-sm: 13px;

/// M
/// @type Size
$size-m: 14px;

/// ML
/// @type Size
$size-ml: 15px;

/// L
/// @type Size
$size-l: 16px;

/// XL
/// @type Size
$size-xl: 17px;

/// XXL
/// @type Size
$size-xxl: 18px;

/// XXXL
/// @type Size
$size-xxxl: 19px;

/// XXXXL
/// @type Size
$size-xxxxl: 20px;

/// XXXXXL
/// @type Size
$size-xxxxxl: 26px;
