/// Susy base config.
$susy: (
  columns: 12,
  gutters: 1/10,
  gutter-position: split,
  global-box-sizing: border-box
);

/// Breakpoints-variables
/// Size variables for every breakpoint
/// @prop $bp-xs: mobil aprox.
/// @prop $bp-s: tablet portrait aprox.
/// @prop $bp-m: tablet landscape aprox.
/// @prop $bp-l: medium desktop aprox.
/// @prop $bp-xl: large desktop aprox.
$bp-xs:  540px;
$bp-s:   704px;
$bp-m:   1025px;
$bp-ml:  1155px;
$bp-l:   1280px;
$bp-xl:  1920px;

/// Breakpoints
/// @prop {Map} xs [540px] - Extra small size
/// @prop {Map} s [768px] - Small size
/// @prop {Map} m [1024px] - Medium size
/// @prop {Map} l [1280px] - Large size
/// @example
///   map-get($breakpoints, s)
$breakpoints: (
  'xs': $bp-xs,
  'max-xs': $bp-xs - 1,
  's': $bp-s,
  'max-s': $bp-s - 1,
  'm': $bp-m,
  'max-m': $bp-m - 1,
  'ml': $bp-ml,
  'max-ml': $bp-ml - 1,
  'l': $bp-l,
  'max-l': $bp-l - 1
);

/// Global layout
$gutter: 30px;
