/// Font families

/// Sans-serif
/// @type Font
$sans-serif: Arial;

/// Regular
/// @type Font
$regular: 'mango-regular', $sans-serif;

/// Bold
/// @type Font
$bold: 'mango-bold', $sans-serif;

/// Light
/// @type Font
$light: 'mango-light', $sans-serif;

/// Icons
/// @type Icons
$icons: 'mango-icons';

/// Mango form Icons
/// @type Icons
$mango-form: 'mango-form';

/// Favorites Icons
/// @type Icons
$mango-fav: 'mango-fav';
